html {
	background-color: black;
	color: white;
	margin: 20px;
}
#header {
margin: 10px;
text-align: center;
}
a {
	color: white;
	text-decoration: none;
}
h3 {
	word-spacing: 25px;
	border-style: double;
}
h2 {
	font-weight: 5;
	padding: 10px;
	margin-left: 25px;
}
.box {
	border-style: solid;
}