#night {
	padding-left: 20px;
}
#vid {
	width: 400px;
	border-radius:45px
}
#play {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 360px;
	left: 50px;
}
progress::-webkit-progress-bar {
	background: gray;
	border-radius: 5px;
}
progress,
progress[role][aria-valuenow] {
   background: gray;
}
progress {
	color: black;
	border-radius: 5px;
}
progress::-moz-progress-bar { 
	background: black;
	border-radius: 5px;
}
progress[aria-valuenow]:before  {
	background: black;
	border-radius: 5px;
}
progress::-webkit-progress-value {
	background: black;
}
#progress {
	border-radius: 20px;
	height: 20px;
	width: 305px;
	position: absolute;
	top: 370px;
	left: 100px;
}
#surround {
	width: 400px;
	height: 220px;
	border-width: 5px;
	border-style: solid;
	border-radius: 50px
}
